* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

.password-mismatch {
  border-color: red;
}

label {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.password-strength {
  font-size: smaller;
  position: relative;
}

.password-strength p {
  position: relative;
  top: 0.5rem;
  left : 4rem
}

.strong-pword {
  color: green;
}
.moderate-pword {
  color: orange;
}
.weak-pword {
  color: red;
}

.mismatch-pword{
  font-size: smaller;
  color: red;
  position: relative;
  margin-top: .5rem;
}

.weather-block {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.weatherApp-form  label {
  display: flex;
  justify-content: center;
}

.weather-report {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-details {
  margin-top: 3rem;
}

.userId-input {
  width: 20%;
  border-radius: 1rem;
  padding: 1rem;
}

.users-form button{
  margin: 10px;
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
}

ul {
  list-style-type: none;
}

.router-navbar ul{
  padding: 2rem;
  display: flex;
  background-color: blue;
  width: 100%;
}

.router-navbar {
  margin-bottom : 2rem;
}

.links{
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.contact-form {
  max-width: 500px;
  margin : 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}

.contact-form p {
  padding: 20px;
}

hr {
  text-decoration: dashed;
}

.productlist-navbar {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 4rem;
}

.productlist-links {
  color: white;
  text-decoration: none;
}


ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  max-width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 30px;
  margin: 30px;
  box-shadow: .5rem .5rem;
  position: relative;
}
